<!-- Github -->
{% if user %}
<div>
    Hello, <strong>{{user["name"]}}</strong> <br>
    <img src="{{user['avatar_url']}}" width="100" height="100"> <br>
    <form action="{{ url_for('.logout') }}" method="post">
        <input type="submit" value="Log Out">
</div>
{% else %}
<div>
    Welcome to the <strong>GitHub</strong> OAuth example client. <br> 
    <form action="{{ url_for('.login') }}" method="post">
        <input type="submit" value="Log In with GitHub">
    </form>
</div>
{% endif %}